body {font-family: 'Lato', sans-serif; width: 100vw; height: 100svh; margin: 0; padding: 0; overflow: hidden;}

body::-webkit-scrollbar {display: none;}

.background {height: fit-content; color: #d8edff; background-color: #0a141c; display: flex; padding: 0 30px; transition: all 0.2s linear;}

.bgDark {color: #d8edff; background-color: #0a141c;}
.bgLight {color: #121920; background-color: #def8fc;}

.navLight {border: 0.1em #b2d1ff solid; box-shadow: 0 0 10px rgba(20, 20, 20, 0.6);}

.borderDark {border-color: gainsboro;}
.borderLight {border-color: rgb(53, 53, 53);}

header {
    position: sticky;

    height: 100dvh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;

    -ms-overflow-style: none; 
    scrollbar-width: none;

    z-index: 9999;
}

nav {
    width: fit-content;
    height: fit-content;

    background-color: rgba(26, 26, 26, 0.7);
    border: 0.1em rgba(82, 82, 82, 0.5) solid;
    box-shadow: 0 0 8px rgba(200, 200, 200, 0.1);
    border-radius: calc(0.75vw + 0.75vh);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;

    padding: 100px 10px;

    transition: 0.5s ease;
}

.nav-item {
    list-style: none;
    text-decoration: none;
    font-size: 28px;
    color: white;

    border: 2px transparent solid;
    border-radius: 2px;

    display: flex;

    padding: 6px;

    transition: 0.4s ease;

    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
}

.nav-item:hover {
    color: aliceblue;

    border-color: aliceblue;
    border-radius: 10px;
}

.nav-item:active {color: #d8edff; border-color: #d8edff;}

.nav-item::after {
    position: absolute; 

    color: transparent; 
    font-size: 20px; 
    
    margin-left: 70px; 
    
    border: 0.6px transparent solid; 
    
    display: none; 
    align-self: center;
    align-items: center;
    
    padding: 6px 12px;
    
    transition: 0.3s ease;
}

.nav-item:hover::after {
    color: white;

    background-color: rgba(26, 26, 26, 0.7);
    border: 0.6px rgba(82, 82, 82, 0.5) solid;
    border-radius: calc(0.2vw + 0.2vh);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(4px);

    display: flex;

    animation: opacity 0.5s ease;
}

#home:hover::after {content: "Home";}
#blog:hover::after {content: "Blog";}
#search:hover::after {content: "Search";}
#instagram:hover::after {content: "Instagram";}
#github:hover::after {content: "Github";}


button#switch {
    position: absolute;

    color: #0a141c;
    font-size: 22px;
    font-weight: bolder;

    width: 34px;
    height: 34px;

    top: 30px;
    right: 20px;
    z-index: 9999;

    background-color: aliceblue;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;

    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
}

main {
    position: static;

    width: 80%;

    margin: auto;

    display: flex;
    justify-content: center;
}

.cards {

    width: 80%;
    height: 700px;

    background-color: rgba(26, 26, 26, 0.7);
    border: 0.1em rgba(82, 82, 82, 0.5) solid;
    box-shadow: 0 0 8px rgba(200, 200, 200, 0.5);
    border-radius: calc(0.75vw + 0.75vh);

    box-sizing: border-box;

    display: none;
}

div#card1 {
    position: relative;

    background-color: black;
    border: 0.2em rgb(82, 82, 82) solid;

    flex-direction: column;

    padding: 1.8%;
}

div#info {
    color: aliceblue;

    width: 100%;
    height: 0%;

    margin-top: 30px;

    padding: 6px;
    box-sizing: border-box;

    display: flex;
    justify-content: start;

}

#ascii-art {font-family: monospace; font-size: 12px; white-space: pre;}

div#info-text {

    margin-left: 40px;

    display: flex;
    flex-direction: column;

}

div#options {
    position: absolute;

    width: 95%;
    height: 50px;

    bottom: 16px;
    left: 2.5%;

    box-sizing: border-box;

    display: none;
    gap: 16px;

}

span.terminalOptions {
    position: relative;

    font-size: 20px;

    height: 50px;

    background-color: transparent;
    border: 2.5px rgb(82, 82, 82) dotted;
    border-radius: 6px;
    backdrop-filter: blur(10px);

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    
    z-index: 1;

    transition: all 0.3s ease;
}

span.terminalOptions:hover {color: rgb(189, 189, 189); text-shadow: 1px 1px 15px white;}

span.terminalOptions:after {position: absolute; content: ''; width: 90%; height: 100%; background: linear-gradient(to right, transparent, rgba(55, 155, 255, 0.45), transparent); z-index: -1; opacity: 0; transition: all 0.3s ease;}

span.terminalOptions:hover::after {opacity: 1;}

div#card2 {

    background-color: transparent;
    border: 2px solid;

    justify-content: center;
    align-items: center;

    padding: 3%;
}

p#typing {height: fit-content; margin: 0;}

p#typing::after {
    content: "";

    animation: typeCursor 1s ease 0s 2, neofetchCmd 0.6s ease 2.4s forwards normal;
}
/* Keyframes - Start */

@keyframes opacity {
    from {opacity: 0;} to {opacity: 1;}
}

@keyframes typeCursor {0% {content: '';} 100% {content: '_';}}

@keyframes neofetchCmd {
    0% {content: '';}
    12.5% {content: 'n';}
    25% {content: 'ne';}
    37.5% {content: 'neo';}
    50% {content: 'neof';}
    62.5% {content: 'neofe';}
    75% {content: 'neofet';}
    87.5% {content: 'neofetc';}
    100% {content: 'neofetch';}
}

@keyframes loadDotSh {
    
}

@keyframes expandY {
    from {height: 0;}
    to {height: fit-content;}
}

/* Keyframes - Ended */

/* Font Colours - Start */

.fc-red {color: red;}

.fc-orange {color: orange;}

.fc-yellow {color: #ffeb00;}

.fc-green {color: #36ff36;}

.fc-teal {color: teal;}

.fc-aqua {color: aqua;}

.fc-skyblue {color: skyblue;}

.fc-blue1 {color: #2855bf;}

.fc-blue2 {color: #2828bf;}

.fc-purple {color: #c200c2;}

.fc-white {color: white;}

.fc-grey {color: #acacac;}

.fc-black {color: #120f1a;}

.e {color: rgb(213, 213, 213);}

/* Font Colours - Ended */

/* Font Size - Start */

.fs-1 {
    font-size: 5px;
}

.fs-2 {
    font-size: 10px;
}

.fs-3 {
    font-size: 15px;
}

.fs-4 {
    font-size: 20px;
}

.fs-5 {
    font-size: 25px;
}

.fs-6 {
    font-size: 30px;
}

.fs-7 {
    font-size: 35px;
}

.fs-8 {
    font-size: 40px;
}

.fs-9 {
    font-size: 45px;
}

.fs-10 {
    font-size: 50px
}

.fs-12 {
    font-size: 62.5px;
}

.fs-15 {
    font-size: 75px
}


.fs-20 {
    font-size: 100px;
}

/* Font Size - Ended */

/* Font Misc - Start */

.text-shadow {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.bold {
    font-weight: bold;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Font Misc - Ended */

/* Font Families - Start */

.font-hack {font-family: Hack, monospace; margin: 0;}

/* Font Families - Ended */

/* Transform Scale - Start */

.scale-05 {transform: scale(1.025);}

.scale-1 {transform: scale(1.05);}

.scale-2 {transform: scale(1.1);}


/* Transform Scale - Ended */

:root {
    -wekbit-link: red;
}


@media screen and (max-width: 1440px) {
    .cards {
        width: 90%;
        height: 80vh;

        overflow: scroll;
    }

    div.overflow-y {
        height: 85%;

        overflow-y: scroll;

    }

    nav {padding: 12vh 1vh; gap: 5vh;}

    .nav-item {font-size: 24px;}

    .nav-item::after {font-size: 18px; margin-left: 60px; padding: 6px 10px;}

    span#ascii-art {
        font-size: 40%;
    }
}

@media screen and (max-width: 1440px) and (orientation: portrait) {
    .cards {height: 800px;}
}

@media screen and (max-width: 992px) {

    div.overflow-y {
        box-sizing: border-box;
        overflow-y: scroll;

    }

    span#ascii-art {
        font-size: 50%;
    }

    div#info {
        height: fit-content;
        flex-direction: column;

        box-sizing: content-box;
    }
    div#info-text {

        margin-top: 20px;
        margin-left: 0;

        box-sizing: content-box;
    }
}

@media screen and (max-width: 600px) {

    .background {
        padding: 0 10px;
    }

    main {margin: auto 0 auto 10px;}

    nav {padding: 70px 6px; gap: 30px;}

    .nav-item {font-size: 22px;}

    button#switch {top: 12px;}

    .cards {width: 98%; height: 70vh; box-sizing: border-box; overflow: scroll;}

    span#ascii-art {
        font-size: 50%;
    }

    div#info {
        height: fit-content;
        flex-direction: column;

        box-sizing: content-box;
    }
    div#info-text {

        margin-top: 20px;
        margin-left: 0;

        box-sizing: content-box;
    }

    div#options {bottom: 6px; gap: 6px;}

    span.terminalOptions {font-size: 0.9em;}

    div.overflow-y {height: 90%;}

    /* span.terminalOptions:first-child {font-size: 14px;} */

}

.overflow-y {
    position: relative;

    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -webkit-scrollbar: none;
    -ms-scroll-rails: none;
}

.cards {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -webkit-scrollbar: none;
    -ms-scroll-rails: none;
}